<!DOCTYPE html>
<html>
<head>
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Question Form</title>
</head>
<body>
    <header>
    <h1>AI Book Assistant</h1>
    </header>
    <main>
        <h2>Enter your question:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
        <button type="submit" name="clear">Clear</button>
    </form>
    {% if answer %}
        <h2>Answer:</h2>
        <p>
        {{ answer.result }}
        </p>

        <ul>
            {% for value in answer.source_documents %}
                {% autoescape off %}
                <li>source: {{ value.source }}</li>
                <li>page: {{value.page}}</li>
                <li>first 25 words: {{value.first_25_words}}</li>
                {% endautoescape %}
            {% endfor %}
        </ul>
        
    {% endif %}
    </main>
    <footer>
        <p>Reading from Eloquent_JavaScript.pdf and Coding with JavaScript For Dummies.pdf  </p>
    </footer>
</body>
</html>