<!DOCTYPE html>
<html>
<head>
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Question Form</title>
</head>
<body>
    <h1>Submit your question</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
        <button type="submit" name="clear">Clear</button>
    </form>
    {% if answer %}
        <h2>Answer:</h2>
        <p class="answer">{{ answer }}</p>
    {% endif %}
</body>
</html>